.header {
    width: 65%;
    height: 60px;
    background-color: #ddedee; /* Светлый оттенок */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Небольшая тень */
    border-radius: 5px; /* Скругленные углы */
}

.content{
    background-color: #ddedee;
}